@import url(http://fonts.googleapis.com/css?family=Handlee);

.score-table {
  margin: 20px 0 20px 40px;
  border-collapse: collapse;
  font: bold 30px 'Handlee', cursive;
}

.score-table th, .score-table td {
  vertical-align: middle;
  text-align: center;
}

.score-table th {
  font-size: 26px;
}

.ity-symbol {
  height: 30px;
}

.symbol-col {
  width: 25px;
}

.spacer-col {
  width: 20px;
}

.ity-sep-line {
  background-color: #000;
}
