@import "../style.css";

.ftable {
  border: 1px solid black;
  border-collapse: collapse;
}
.ftable th, .ftable td {
  border-top: 1px solid black;
  padding: 3px 6px;
  text-align: left;
}
.ftable tr, .computations tr { vertical-align: top; }
.ftable tr:first-child { vertical-align: bottom; }

.computations td:first-child { text-align: right; }
.computations tr td { padding: 0.5em 0; }
.computations td + td { text-indent: -3em; padding-left: 3em; }
.computations td p { margin: 0; }
