.pa-margin-top-lg {
  margin-top: 2em;
  margin-bottom: 1em;
}

.pa-first-table {
  margin-left: -44px; /* squeeze in the image table */
}

.pa-second-table {
  margin-left: -48px; /* squeeze in the image table */
}

.pa-first-table tr td, .pa-second-table tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #AAF;
}

.pa-first-table tr td img, .pa-second-table tr td img {
  border: none;
  vertical-align: top;
}

.pa-first-table tr td {
  width: 726px;  /* 716 + 10, where 716 is width of p3sm.jpg */
  height: 220px;  /* 210 + 10 */
}

.pa-second-table tr td {
  width: 242px;  /* 232 + 10 */
  height: 242px;  /* 232 + 10 */
}
