td.guess{
    min-width: 200px;
}

td {
    padding: 5px;
}

tr.error td, tr.warning td {
    background: #FFB8B8;
}

tr.winner td {
    background: #A1FFA2;
}

tr.spacer td {
    font-size: 1px;
    padding: 0px;
}
