#!/usr/bin/python2.6
# SAMPLE SECRETS FILE; copy to secrets.py and add your own secrets.
# DO NOT CHECK THIS INTO GIT

DB_SERVER = 'localhost'
DB_USER = 'codex'
DB_PASS = 'passwordpassword'
DB_NAME = 'codex'
