table {
  border-collapse: collapse;
}

.cc-grid {
  margin: 2em 0;
}

.cc-clues-outer {
  margin: 2em 0;
}

.cc-clues-outer td {
  vertical-align: top;
}

.cc-clues-outer td:first-child + td {
  padding-left: 1em;
}

.cc-clues td {
  line-height: 120%;
}

.cc-clues td:first-child {
  text-align: right;
}

.cc-clues td:first-child + td {
  padding-left: 0.3em;
}
