.doo-ol {
  margin: 0;
}

.doo-p-top, .doo-p-top-sm {
  margin-bottom: 0;
}

.doo-p-top-sm {
  margin-top: 0.5em;
}

.doo-p-bottom {
  margin-top: 0;
}

#doo-t {
  border-collapse: collapse;
  border: 1px solid black;
}

#doo-t th, #doo-t td {
  text-align: center;
  border-top: 1px solid black;
  padding: 3px 6px;
}

/* Specific for table column 1. */
#doo-t th:first-child,
#doo-t td:first-child {
  text-align: left;
}
