.itu-t {
  border-collapse: collapse;
  border: 1px solid black;
}

.itu-t th,
.itu-t td {
  text-align: center;
  padding: 3px 6px;
  border-top: 1px solid black;
}

/* Make table columns 6 and 8 gray. */
.itu-t th:first-child + th + th + th + th + th,
.itu-t td:first-child + td + td + td + td + td,
.itu-t th:first-child + th + th + th + th + th + th + th,
.itu-t td:first-child + td + td + td + td + td + td + td {
  color: #AAAAAA;
}
