#QEDfloater
{
  float: right;
  margin-left: 10px;
}

#grid td
{
  font-size: small;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border-width: thin;
  border-style: solid;
}

#grid td.black
{
  background-color: black;
}

#grid .diagonal
{
  background-color: WhiteSmoke;
}

#decryptions
{
  padding: 30px;
}

#decryptions table tr td
{
  font-size: x-large;
}
