@import url(http://fonts.googleapis.com/css?family=Lekton);

#tis .monospace {
  font-family: 'Lekton', sans-serif;
}

#tis table.first td
{
    padding: 10pt;
    margin: 10pt;
    border-left: solid medium;
    border-right: solid medium;
    text-align: center;
}

#tis table.first
{
    border-collapse:collapse;
}
#tis {
    counter-reset: list1;
}
#tis ol.letters li,
#tis ol.numbers li,
#tis ol.innerletters li {
    list-style: none;
    text-indent: -1.4em;
    margin-left:  1.4em;
}
#tis ol.letters li::before {
    counter-increment:list1;
    content: "(" counter(list1, lower-alpha) ") ";
    counter-reset: list2;
}

#tis ol.numbers li::before {
    counter-increment:list2;
    content: "(" counter(list2, decimal) ") ";
    counter-reset: list3;
}

#tis ol.innerletters li::before {
    counter-increment: list3;
    content: "(" counter(list3, lower-alpha) ") ";
    counter-reset: list4;
}

#tis table.second
{
}

#tis h1, #tis h2 { page-break-after: avoid; }
