@import "../general.css";

body {
  background-color: #444;
}
#background {
  background-image: url("background.jpg");
  background-position-x: center;
  background-position-y: bottom;

  position:absolute;
  top: 0; bottom:0; left: 0; right: 0;
}
#side-border div {
  position: absolute;
}
#side-border .left, #side-border .right {
  position: absolute;
  width: 120px;
  bottom: 0px;
  top: 0px;
  background-repeat: repeat-y;
  background-position-y: 30px;
}
#side-border .left {
  left: 0;
  background-image: url('border-left.png');
}
#side-border .right {
  right: 0;
  background-image: url('border-right.png');
}
#main {
  margin-left: 120px;
  margin-right: 120px;
  background: rgba(255,255,255,0.65);
}
#bottom-border {
  position: absolute; left: 108px; right: 108px; bottom: 0;
  height: 40px;
  background: url("border-bottom.png") bottom center repeat-x;
}

#index-image {
  position: absolute;
  top: 48px;
  left: 50%;
  margin-left: -400px;
}
#index-image, #index-image > img {
  display: block;
  width: 800px; height: 503px;
  border: none;
}
#index-image > * {
  position: absolute; top: 0; left: 0;
}
#puzzle-list .num { width: 85px; text-align: right; padding-right: 4px; }
#puzzle-list a {
display: block;
/* a little bit of space on right */
padding-right: 5px;
/* overlap on top of .num field and put icon there. */
margin-left: -80px; padding-left: 80px;
background: url('icon.png') no-repeat; /* 50px high */
padding-top: 5px;
height: 45px; /* subtract padding-top from height */
white-space: nowrap;
}

#main {
  padding: 10px 0 60px 0;
  position: relative;
}

body.index {
  min-width: 1000px;
}
.index #main {
  padding-top: 580px;
}

/* puzzle page */
body.puzzle {
  min-width: 940px;
}
#show-title { top: 43px; }
#show-title .title {
  width: 750px; left: -375px; /* centered */
  height:132px;
  background: url('banner.png') no-repeat;
}
.puzzle #main {
  padding-top: 150px;
}
#content {
  padding: 0 1em;
}
#link {
  left: 300px; top: 60px;
}
.ptitle {
  position: relative; /* put in front of banner */
  z-index: 99;        /* put in front of banner */
  background: url('divider.png') repeat-x -22px bottom;
  padding: 60px 0 22px 60px;
  margin: 0px 0 0px 20px;
}
.ptitle .icon {
  position: absolute;
  background: url('icon-large.png') no-repeat;
  width: 80px; height: 77px;
  left: -30px; bottom: 20px;
}
