---
# use template system
---
{% assign critic_name = 'Watson 2.0' %}{% capture flavor %}
Fresh off their triumph on <i>Jeopardy!</i>, the team at IBM realized
it was time to implement their long-secret primary goal for
<b>Watson</b>: reviewing Broadway plays.
{% endcapture %}{% capture art %}
<img src="1-solved.png" />
<img src="2-solved.png" />
<img src="3-solved.png" />
<img src="4-solved.png" />
<img src="5-solved.png" />
<img src="6-solved.png" />
<img src="7-solved.png" />
<img src="8-solved.png" />
<img src="9-solved.png" />
<img src="10-solved.png" />
<img src="11-solved.png" />
<img src="12-solved.png" />
<img src="13-solved.png" />
<img src="14-solved.png" />
<img src="15-solved.png" />
<img src="16-solved.png" />
<img src="17-solved.png" />
<img src="18-solved.png" />
<img src="19-solved.png" />
<img src="20-solved.png" />
<img src="21-solved.png" />
<img src="22-solved.png" />
<img src="23-solved.png" />
<img src="24-solved.png" />
<img src="baby_bouncy/-solved.png" />
<img src="bon_bon/-solved.png" />
<img src="cotton_candy/-solved.png" />
<img src="diamond_twist/-solved.png" />
<img src="minty/-solved.png" />
<img src="photo_finish/-solved.png" />
<img src="sweet_stuff/-solved.png" />
<img src="teddy/-solved.png" />
<img src="../1px.png" usemap="#map" />
<map name="map">
</map>
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr class="n">
	  <td class="num">1.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/spitfire/">Spitfire</a></td>
	  <td class="num">13.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/scootaloo/">Scootaloo</a></td>
      </tr>

      <tr class="n">
	  <td class="num">2.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/masquerade/">Masquerade</a></td>
	  <td class="num">14.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/princess_primrose/">Princess Primrose</a></td>
      </tr>

      <tr class="n">
	  <td class="num">3.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/tink_a_think_a_too/">Tink-a-Think-a-Too</a></td>
	  <td class="num">15.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/starlight/">Starlight</a></td>
      </tr>

      <tr class="n">
	  <td class="num">4.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/wysteria/">Wysteria</a></td>
          <td class="num">16.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/derpy_hooves/">Derpy Hooves</a></td>
      </tr>

      <tr class="n">
	  <td class="num">5.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/surprise/">Surprise</a></td>
	  <td class="num">17.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/lofty/">Lofty</a></td>
      </tr>

      <tr class="n">
	  <td class="num">6.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/cupcake/">Cupcake</a></td>
	  <td class="num">18.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/princess_tiffany/">Princess Tiffany</a></td>
      </tr>

      <tr class="n">
	  <td class="num">7.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/brightglow/">Brightglow</a></td>
	  <td class="num">19.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/thistle_whistle/">Thistle Whistle</a></td>
      </tr>

      <tr class="n">
	  <td class="num">8.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/baby_cuddles/">Baby Cuddles</a></td>
	  <td class="num">20.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/paradise/">Paradise</a></td>
      </tr>

      <tr class="n">
	  <td class="num">9.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/patch/">Patch</a></td>
          <td class="num">21.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/clover_bloom/">Clover Bloom</a></td>
      </tr>

      <tr class="n">
	  <td class="num">10.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/skywishes/">Skywishes</a></td>
	  <td class="num">22.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/baby_fifi/">Baby Fifi</a></td>
      </tr>

      <tr class="n">
	  <td class="num">11.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/scoops/">Scoops</a></td>
	  <td class="num">23.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/baby_tic_tac_toe/">Baby Tic-Tac-Toe</a></td>
      </tr>

      <tr class="n">
	  <td class="num">12.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/apple_spice/">Apple Spice</a></td>
	  <td class="num">24.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/steamer/">Steamer</a></td>
      </tr>
      </table>

      <table class="materials">
      <tr class="spacer"></tr>
      <tr>
          <td class="baby_bouncy watson_2_0"><a href="baby_bouncy/"><span>Baby Bouncy</span></a></td>
	  <td class="minty watson_2_0"><a href="minty/"><span>Minty</span></a></td>
      </tr><tr>
	  <td class="bon_bon watson_2_0"><a href="bon_bon/"><span>Bon Bon</span></a></td>
          <td class="photo_finish watson_2_0"><a href="photo_finish/"><span>Photo Finish</span></a></td>
      </tr><tr>
	  <td class="cotton_candy watson_2_0"><a href="cotton_candy/"><span>Cotton Candy</span></a></td>
          <td class="sweet_stuff watson_2_0"><a href="sweet_stuff/"><span>Sweet Stuff</span></a></td>
      </tr><tr>
	  <td class="diamond_twist watson_2_0"><a href="diamond_twist/"><span>Diamond Twist</span></a></td>
          <td class="teddy watson_2_0"><a href="teddy/"><span>Teddy</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.watson_2_0 %}{% include critic_index.html %}{% endif %}
