---
# use template system
---
{% assign critic_name = 'Watson 2.0' %}{% capture flavor %}
Fresh off their triumph on <i>Jeopardy!</i>, the team at IBM realized
it was time to implement their long-secret primary goal for
<b>Watson</b>: reviewing Broadway plays.
{% endcapture %}{% capture art %}
<img src="1-solved.png" />
<img src="2-solved.png" />
<img src="3-solved.png" />
<img src="4-solved.png" />
<img src="5-solved.png" />
<img src="6-solved.png" />
<img src="7-solved.png" />
<img src="8-solved.png" />
<img src="9-solved.png" />
<img src="10-solved.png" />
<img src="11-solved.png" />
<img src="12-solved.png" />
<img src="13-solved.png" />
<img src="14-solved.png" />
<img src="15-solved.png" />
<img src="16-solved.png" />
<img src="17-solved.png" />
<img src="18-solved.png" />
<img src="19-solved.png" />
<img src="20-solved.png" />
<img src="21-solved.png" />
<img src="22-solved.png" />
<img src="23-solved.png" />
<img src="24-solved.png" />
<img src="baby_bouncy/-solved.png" />
<img src="bon_bon/-solved.png" />
<img src="cotton_candy/-solved.png" />
<img src="diamond_twist/-solved.png" />
<img src="minty/-solved.png" />
<img src="photo_finish/-solved.png" />
<img src="sweet_stuff/-solved.png" />
<img src="teddy/-solved.png" />
<img src="../1px.png" usemap="#map" />
<map name="map">
<area shape="rect" coords="309,171,330,181" alt="Spitfire" title="Spitfire" href="../mayan_fair_lady/spitfire/" />
<area shape="rect" coords="314,182,332,192" alt="Spitfire" title="Spitfire" href="../mayan_fair_lady/spitfire/" />
<area shape="rect" coords="297,144,329,170" alt="Spitfire" title="Spitfire" href="../mayan_fair_lady/spitfire/" />
<area shape="rect" coords="274,75,326,143" alt="Spitfire" title="Spitfire" href="../mayan_fair_lady/spitfire/" />
<area shape="rect" coords="345,164,362,178" alt="Masquerade" title="Masquerade" href="../phantom_of_the_operator/masquerade/" />
<area shape="rect" coords="346,179,360,188" alt="Masquerade" title="Masquerade" href="../phantom_of_the_operator/masquerade/" />
<area shape="rect" coords="340,135,363,163" alt="Masquerade" title="Masquerade" href="../phantom_of_the_operator/masquerade/" />
<area shape="rect" coords="329,70,368,134" alt="Masquerade" title="Masquerade" href="../phantom_of_the_operator/masquerade/" />
<area shape="rect" coords="369,160,391,173" alt="Tink-a-Think-a-Too" title="Tink-a-Think-a-Too" href="../phantom_of_the_operator/tink_a_think_a_too/" />
<area shape="rect" coords="370,174,387,190" alt="Tink-a-Think-a-Too" title="Tink-a-Think-a-Too" href="../phantom_of_the_operator/tink_a_think_a_too/" />
<area shape="rect" coords="370,136,400,159" alt="Tink-a-Think-a-Too" title="Tink-a-Think-a-Too" href="../phantom_of_the_operator/tink_a_think_a_too/" />
<area shape="rect" coords="371,69,421,135" alt="Tink-a-Think-a-Too" title="Tink-a-Think-a-Too" href="../phantom_of_the_operator/tink_a_think_a_too/" />
<area shape="rect" coords="394,171,420,185" alt="Wysteria" title="Wysteria" href="../ogre_of_la_mancha/wysteria/" />
<area shape="rect" coords="391,186,411,200" alt="Wysteria" title="Wysteria" href="../ogre_of_la_mancha/wysteria/" />
<area shape="rect" coords="399,144,439,170" alt="Wysteria" title="Wysteria" href="../ogre_of_la_mancha/wysteria/" />
<area shape="rect" coords="410,83,474,143" alt="Wysteria" title="Wysteria" href="../ogre_of_la_mancha/wysteria/" />
<area shape="rect" coords="414,189,456,201" alt="Surprise" title="Surprise" href="../ogre_of_la_mancha/surprise/" />
<area shape="rect" coords="410,202,438,216" alt="Surprise" title="Surprise" href="../ogre_of_la_mancha/surprise/" />
<area shape="rect" coords="424,170,482,188" alt="Surprise" title="Surprise" href="../ogre_of_la_mancha/surprise/" />
<area shape="rect" coords="438,110,520,169" alt="Surprise" title="Surprise" href="../ogre_of_la_mancha/surprise/" />
<area shape="rect" coords="427,231,440,252" alt="Cupcake" title="Cupcake" href="../ogre_of_la_mancha/cupcake/" />
<area shape="rect" coords="441,221,452,249" alt="Cupcake" title="Cupcake" href="../ogre_of_la_mancha/cupcake/" />
<area shape="rect" coords="453,200,477,244" alt="Cupcake" title="Cupcake" href="../ogre_of_la_mancha/cupcake/" />
<area shape="rect" coords="478,155,558,233" alt="Cupcake" title="Cupcake" href="../ogre_of_la_mancha/cupcake/" />
<area shape="rect" coords="552,218,567,224" alt="Brightglow" title="Brightglow" href="../phantom_of_the_operator/brightglow/" />
<area shape="rect" coords="532,225,568,233" alt="Brightglow" title="Brightglow" href="../phantom_of_the_operator/brightglow/" />
<area shape="rect" coords="501,234,571,249" alt="Brightglow" title="Brightglow" href="../phantom_of_the_operator/brightglow/" />
<area shape="rect" coords="439,250,572,284" alt="Brightglow" title="Brightglow" href="../phantom_of_the_operator/brightglow/" />
<area shape="rect" coords="439,306,457,321" alt="Baby Cuddles" title="Baby Cuddles" href="../ogre_of_la_mancha/baby_cuddles/" />
<area shape="rect" coords="458,305,474,327" alt="Baby Cuddles" title="Baby Cuddles" href="../ogre_of_la_mancha/baby_cuddles/" />
<area shape="rect" coords="475,304,505,339" alt="Baby Cuddles" title="Baby Cuddles" href="../ogre_of_la_mancha/baby_cuddles/" />
<area shape="rect" coords="506,297,571,362" alt="Baby Cuddles" title="Baby Cuddles" href="../ogre_of_la_mancha/baby_cuddles/" />
<area shape="rect" coords="432,334,446,352" alt="Patch" title="Patch" href="../phantom_of_the_operator/patch/" />
<area shape="rect" coords="447,337,461,362" alt="Patch" title="Patch" href="../phantom_of_the_operator/patch/" />
<area shape="rect" coords="462,341,485,379" alt="Patch" title="Patch" href="../phantom_of_the_operator/patch/" />
<area shape="rect" coords="486,347,558,411" alt="Patch" title="Patch" href="../phantom_of_the_operator/patch/" />
<area shape="rect" coords="415,352,441,364" alt="Skywishes" title="Skywishes" href="../phantom_of_the_operator/skywishes/" />
<area shape="rect" coords="420,365,456,374" alt="Skywishes" title="Skywishes" href="../phantom_of_the_operator/skywishes/" />
<area shape="rect" coords="430,375,484,393" alt="Skywishes" title="Skywishes" href="../phantom_of_the_operator/skywishes/" />
<area shape="rect" coords="449,394,527,448" alt="Skywishes" title="Skywishes" href="../phantom_of_the_operator/skywishes/" />
<area shape="rect" coords="402,362,427,375" alt="Scoops" title="Scoops" href="../phantom_of_the_operator/scoops/" />
<area shape="rect" coords="404,376,440,387" alt="Scoops" title="Scoops" href="../phantom_of_the_operator/scoops/" />
<area shape="rect" coords="413,388,466,413" alt="Scoops" title="Scoops" href="../phantom_of_the_operator/scoops/" />
<area shape="rect" coords="429,414,503,476" alt="Scoops" title="Scoops" href="../phantom_of_the_operator/scoops/" />
<area shape="rect" coords="385,373,409,389" alt="Apple Spice" title="Apple Spice" href="../ogre_of_la_mancha/apple_spice/" />
<area shape="rect" coords="387,390,419,406" alt="Apple Spice" title="Apple Spice" href="../ogre_of_la_mancha/apple_spice/" />
<area shape="rect" coords="393,407,434,431" alt="Apple Spice" title="Apple Spice" href="../ogre_of_la_mancha/apple_spice/" />
<area shape="rect" coords="401,432,463,495" alt="Apple Spice" title="Apple Spice" href="../ogre_of_la_mancha/apple_spice/" />
<area shape="rect" coords="368,418,396,430" alt="Scootaloo" title="Scootaloo" href="../mayan_fair_lady/scootaloo/" />
<area shape="rect" coords="370,431,400,441" alt="Scootaloo" title="Scootaloo" href="../mayan_fair_lady/scootaloo/" />
<area shape="rect" coords="364,384,391,417" alt="Scootaloo" title="Scootaloo" href="../mayan_fair_lady/scootaloo/" />
<area shape="rect" coords="372,442,418,505" alt="Scootaloo" title="Scootaloo" href="../mayan_fair_lady/scootaloo/" />
<area shape="rect" coords="343,391,354,393" alt="Princess Primrose" title="Princess Primrose" href="../mayan_fair_lady/princess_primrose/" />
<area shape="rect" coords="331,394,355,408" alt="Princess Primrose" title="Princess Primrose" href="../mayan_fair_lady/princess_primrose/" />
<area shape="rect" coords="330,409,358,427" alt="Princess Primrose" title="Princess Primrose" href="../mayan_fair_lady/princess_primrose/" />
<area shape="rect" coords="326,428,373,507" alt="Princess Primrose" title="Princess Primrose" href="../mayan_fair_lady/princess_primrose/" />
<area shape="rect" coords="303,425,327,435" alt="Starlight" title="Starlight" href="../ogre_of_la_mancha/starlight/" />
<area shape="rect" coords="299,436,326,448" alt="Starlight" title="Starlight" href="../ogre_of_la_mancha/starlight/" />
<area shape="rect" coords="307,391,329,424" alt="Starlight" title="Starlight" href="../ogre_of_la_mancha/starlight/" />
<area shape="rect" coords="283,449,325,503" alt="Starlight" title="Starlight" href="../ogre_of_la_mancha/starlight/" />
<area shape="rect" coords="290,384,309,395" alt="Derpy Hooves" title="Derpy Hooves" href="../mayan_fair_lady/derpy_hooves/" />
<area shape="rect" coords="283,396,307,406" alt="Derpy Hooves" title="Derpy Hooves" href="../mayan_fair_lady/derpy_hooves/" />
<area shape="rect" coords="266,407,305,430" alt="Derpy Hooves" title="Derpy Hooves" href="../mayan_fair_lady/derpy_hooves/" />
<area shape="rect" coords="239,431,299,494" alt="Derpy Hooves" title="Derpy Hooves" href="../mayan_fair_lady/derpy_hooves/" />
<area shape="rect" coords="264,367,286,378" alt="Lofty" title="Lofty" href="../mayan_fair_lady/lofty/" />
<area shape="rect" coords="255,379,283,386" alt="Lofty" title="Lofty" href="../mayan_fair_lady/lofty/" />
<area shape="rect" coords="231,387,279,406" alt="Lofty" title="Lofty" href="../mayan_fair_lady/lofty/" />
<area shape="rect" coords="198,407,269,470" alt="Lofty" title="Lofty" href="../mayan_fair_lady/lofty/" />
<area shape="rect" coords="243,343,251,377" alt="Princess Tiffany" title="Princess Tiffany" href="../ogre_of_la_mancha/princess_tiffany/" />
<area shape="rect" coords="252,341,264,368" alt="Princess Tiffany" title="Princess Tiffany" href="../ogre_of_la_mancha/princess_tiffany/" />
<area shape="rect" coords="225,347,242,395" alt="Princess Tiffany" title="Princess Tiffany" href="../ogre_of_la_mancha/princess_tiffany/" />
<area shape="rect" coords="163,355,224,429" alt="Princess Tiffany" title="Princess Tiffany" href="../ogre_of_la_mancha/princess_tiffany/" />
<area shape="rect" coords="201,315,210,347" alt="Thistle Whistle" title="Thistle Whistle" href="../into_the_woodstock/thistle_whistle/" />
<area shape="rect" coords="211,314,218,342" alt="Thistle Whistle" title="Thistle Whistle" href="../into_the_woodstock/thistle_whistle/" />
<area shape="rect" coords="219,312,249,338" alt="Thistle Whistle" title="Thistle Whistle" href="../into_the_woodstock/thistle_whistle/" />
<area shape="rect" coords="141,316,200,373" alt="Thistle Whistle" title="Thistle Whistle" href="../into_the_woodstock/thistle_whistle/" />
<area shape="rect" coords="222,259,238,263" alt="Paradise" title="Paradise" href="../into_the_woodstock/paradise/" />
<area shape="rect" coords="222,264,249,284" alt="Paradise" title="Paradise" href="../into_the_woodstock/paradise/" />
<area shape="rect" coords="195,251,221,285" alt="Paradise" title="Paradise" href="../into_the_woodstock/paradise/" />
<area shape="rect" coords="137,237,194,291" alt="Paradise" title="Paradise" href="../into_the_woodstock/paradise/" />
<area shape="rect" coords="231,219,247,248" alt="Clover Bloom" title="Clover Bloom" href="../into_the_woodstock/clover_bloom/" />
<area shape="rect" coords="248,230,258,249" alt="Clover Bloom" title="Clover Bloom" href="../into_the_woodstock/clover_bloom/" />
<area shape="rect" coords="207,203,230,243" alt="Clover Bloom" title="Clover Bloom" href="../into_the_woodstock/clover_bloom/" />
<area shape="rect" coords="146,176,206,236" alt="Clover Bloom" title="Clover Bloom" href="../into_the_woodstock/clover_bloom/" />
<area shape="rect" coords="246,196,256,226" alt="Baby Fifi" title="Baby Fifi" href="../into_the_woodstock/baby_fifi/" />
<area shape="rect" coords="257,207,269,229" alt="Baby Fifi" title="Baby Fifi" href="../into_the_woodstock/baby_fifi/" />
<area shape="rect" coords="225,174,245,219" alt="Baby Fifi" title="Baby Fifi" href="../into_the_woodstock/baby_fifi/" />
<area shape="rect" coords="171,141,224,204" alt="Baby Fifi" title="Baby Fifi" href="../into_the_woodstock/baby_fifi/" />
<area shape="rect" coords="231,172,267,179" alt="Baby Tic-Tac-Toe" title="Baby Tic-Tac-Toe" href="../phantom_of_the_operator/baby_tic_tac_toe/" />
<area shape="rect" coords="240,180,273,187" alt="Baby Tic-Tac-Toe" title="Baby Tic-Tac-Toe" href="../phantom_of_the_operator/baby_tic_tac_toe/" />
<area shape="rect" coords="248,188,287,213" alt="Baby Tic-Tac-Toe" title="Baby Tic-Tac-Toe" href="../phantom_of_the_operator/baby_tic_tac_toe/" />
<area shape="rect" coords="195,114,261,171" alt="Baby Tic-Tac-Toe" title="Baby Tic-Tac-Toe" href="../phantom_of_the_operator/baby_tic_tac_toe/" />
<area shape="rect" coords="272,180,299,184" alt="Steamer" title="Steamer" href="../ogre_of_la_mancha/steamer/" />
<area shape="rect" coords="276,185,302,203" alt="Steamer" title="Steamer" href="../ogre_of_la_mancha/steamer/" />
<area shape="rect" coords="258,156,297,179" alt="Steamer" title="Steamer" href="../ogre_of_la_mancha/steamer/" />
<area shape="rect" coords="226,90,289,155" alt="Steamer" title="Steamer" href="../ogre_of_la_mancha/steamer/" />

<area shape="rect" coords="280,248,320,294" alt="Baby Bouncy" title="Baby Bouncy" href="baby_bouncy/" />
<area shape="rect" coords="333,231,360,263" alt="Bon Bon" title="Bon Bon" href="bon_bon/" />
<area shape="rect" coords="369,253,395,283" alt="Cotton Candy" title="Cotton Candy" href="cotton_candy/" />
<area shape="rect" coords="393,274,413,298" alt="Diamond Twist" title="Diamond Twist" href="diamond_twist/" />
<area shape="rect" coords="358,296,397,335" alt="Minty" title="Minty" href="minty/" />
<area shape="rect" coords="327,269,351,297" alt="Photo Finish" title="Photo Finish" href="photo_finish/" />
<area shape="rect" coords="302,322,338,355" alt="Sweet Stuff" title="Sweet Stuff" href="sweet_stuff/" />
<area shape="rect" coords="281,301,304,327" alt="Teddy" title="Teddy" href="teddy/" />
</map>
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr class="n">
	  <td class="num">1.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/spitfire/">Spitfire</a></td>
	  <td class="num">13.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/scootaloo/">Scootaloo</a></td>
      </tr>

      <tr class="n">
	  <td class="num">2.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/masquerade/">Masquerade</a></td>
	  <td class="num">14.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/princess_primrose/">Princess Primrose</a></td>
      </tr>

      <tr class="n">
	  <td class="num">3.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/tink_a_think_a_too/">Tink-a-Think-a-Too</a></td>
	  <td class="num">15.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/starlight/">Starlight</a></td>
      </tr>

      <tr class="n">
	  <td class="num">4.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/wysteria/">Wysteria</a></td>
          <td class="num">16.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/derpy_hooves/">Derpy Hooves</a></td>
      </tr>

      <tr class="n">
	  <td class="num">5.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/surprise/">Surprise</a></td>
	  <td class="num">17.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/lofty/">Lofty</a></td>
      </tr>

      <tr class="n">
	  <td class="num">6.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/cupcake/">Cupcake</a></td>
	  <td class="num">18.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/princess_tiffany/">Princess Tiffany</a></td>
      </tr>

      <tr class="n">
	  <td class="num">7.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/brightglow/">Brightglow</a></td>
	  <td class="num">19.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/thistle_whistle/">Thistle Whistle</a></td>
      </tr>

      <tr class="n">
	  <td class="num">8.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/baby_cuddles/">Baby Cuddles</a></td>
	  <td class="num">20.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/paradise/">Paradise</a></td>
      </tr>

      <tr class="n">
	  <td class="num">9.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/patch/">Patch</a></td>
          <td class="num">21.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/clover_bloom/">Clover Bloom</a></td>
      </tr>

      <tr class="n">
	  <td class="num">10.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/skywishes/">Skywishes</a></td>
	  <td class="num">22.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/baby_fifi/">Baby Fifi</a></td>
      </tr>

      <tr class="n">
	  <td class="num">11.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/scoops/">Scoops</a></td>
	  <td class="num">23.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/baby_tic_tac_toe/">Baby Tic-Tac-Toe</a></td>
      </tr>

      <tr class="n">
	  <td class="num">12.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/apple_spice/">Apple Spice</a></td>
	  <td class="num">24.</td>
          <td><a class="ogre_of_la_mancha solved" href="../ogre_of_la_mancha/steamer/">Steamer</a></td>
      </tr>
      </table>

      <table class="materials">
      <tr class="spacer"></tr>
      <tr>
          <td class="baby_bouncy watson_2_0"><a href="baby_bouncy/"><span>Baby Bouncy</span></a></td>
	  <td class="minty watson_2_0"><a href="minty/"><span>Minty</span></a></td>
      </tr><tr>
	  <td class="bon_bon watson_2_0"><a href="bon_bon/"><span>Bon Bon</span></a></td>
          <td class="photo_finish watson_2_0"><a href="photo_finish/"><span>Photo Finish</span></a></td>
      </tr><tr>
	  <td class="cotton_candy watson_2_0"><a href="cotton_candy/"><span>Cotton Candy</span></a></td>
          <td class="sweet_stuff watson_2_0"><a href="sweet_stuff/"><span>Sweet Stuff</span></a></td>
      </tr><tr>
	  <td class="diamond_twist watson_2_0"><a href="diamond_twist/"><span>Diamond Twist</span></a></td>
          <td class="teddy watson_2_0"><a href="teddy/"><span>Teddy</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.watson_2_0 %}{% include critic_index.html %}{% endif %}
