---
# use template system
---
{% assign critic_name = 'Watson 2.0' %}{% capture flavor %}
Fresh off their triumph on <i>Jeopardy!</i>, the team at IBM realized
it was time to implement their long-secret primary goal for
<b>Watson</b>: reviewing Broadway plays.
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr>
          <td class="apple_bloom mayan_fair_lady"><a href="../mayan_fair_lady/apple_bloom/"><span>Apple Bloom</span></a></td>
	  <td class="fluttershy okla_holmes_a"><a href="../okla_holmes_a/fluttershy/"><span>Fluttershy</span></a></td>
      </tr><tr>
          <td class="baby_milkweed into_the_woodstock"><a href="../into_the_woodstock/baby_milkweed/"><span>Baby Milkweed</span></a></td>
          <td class="granny_smith okla_holmes_a"><a href="../okla_holmes_a/granny_smith/"><span>Granny Smith</span></a></td>
      </tr><tr>
          <td class="baby_snookums into_the_woodstock"><a href="../into_the_woodstock/baby_snookums/"><span>Baby Snookums</span></a></td>
          <td class="meadowlark_bloom a_circus_line"><a href="../a_circus_line/meadowlark_bloom/"><span>Meadowlark Bloom</span></a></td>
      </tr><tr>
          <td class="coconut_cream okla_holmes_a"><a href="../okla_holmes_a/coconut_cream/"><span>Coconut Cream</span></a></td>
          <td class="salty mayan_fair_lady"><a href="../mayan_fair_lady/salty/"><span>Salty</span></a></td>
      </tr><tr>
          <td class="ember mayan_fair_lady"><a href="../mayan_fair_lady/ember/"><span>Ember</span></a></td>
          <td class="sweetheart mayan_fair_lady"><a href="../mayan_fair_lady/sweetheart/"><span>Sweetheart</span></a></td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
          <td class="ace ben_bitdiddle"><a href="ace/"><span>Ace</span></a></td>
	  <td class="knight_shade ben_bitdiddle"><a href="knight_shade/"><span>Knight Shade</span></a></td>
      </tr><tr>
	  <td class="big_mcintosh ben_bitdiddle"><a href="big_mcintosh/"><span>Big McIntosh</span></a></td>
          <td class="lancer ben_bitdiddle"><a href="lancer/"><span>Lancer</span></a></td>
      </tr><tr>
	  <td class="heart_throd ben_bitdiddle"><a href="heart_throd/"><span>Heart Throd</span></a></td>
          <td class="miss_hackney ben_bitdiddle"><a href="miss_hackney/"><span>Miss Hackney</span></a></td>
      </tr><tr>
	  <td class="hoity_toity ben_bitdiddle"><a href="hoity_toity/"><span>Hoity-Toity</span></a></td>
          <td class="rainbow_dash ben_bitdiddle"><a href="rainbow_dash/"><span>Rainbow Dash</span></a></td>
      </tr><tr>
	  <td class="kimono ben_bitdiddle"><a href="kimono/"><span>Kimono</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.watson_2_0 %}{% include critic_index.html %}{% endif %}
