p.RainbowConnection {
    font-family: monospace;
    font-size: 16px;
	white-space: nowrap; 
	
}
.RCr {
	border-style:solid;
	border-width:7px;
	border-color:red;
}
.RCo {
    border-style:solid;
	border-width:7px;
	border-color:orange;
}
.RCy {

	border-style:solid;
	border-width:7px;
	border-color:yellow;
}
.RCg {
    border-style:solid;
	border-width:7px;
	border-color:green;
}
.RCb {
    border-style:solid;
	border-width:7px;
	border-color:blue;
}
.RCi {
	border-style:solid;
	border-width:7px;
	border-color:indigo;
}
.RCv {
	border-style:solid;
	border-width:7px;
	border-color:purple;
}
.RCw {
	border-style:solid;
	border-width:7px;
	border-color:white;
}
