@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);

.please-help {
  font: bold 24px 'Over the Rainbow', sans-serif;
}

.please-help a {
  color: #000;
  text-decoration: none;
}
