@import url(http://fonts.googleapis.com/css?family=Alice|Coustard|Nothing+You+Could+Do&subset=latin,latin-ext);
@import "../shortcuts.css";

/* layout */
html,body { padding: 0; margin: 0; position: relative; }
html { height: 100%; /* of viewport */ }
body { min-height: 100%; /* of viewport */ }
body { font-family: 'Alice', serif;  font-weight: 400;
       font-size: 16px; line-height: 1.4; }

body {
  background: url("back-tile.jpg") repeat;
}

#folder {
  position: absolute; left: 0; top: 0;
  width: 900px; min-height: 100%;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  background: url("blue-seamless-swatch.jpg") repeat;
}
#middle {
  position: absolute; left: 0; top: 0;
  width: 900px; height: 100%;
}
#middle > div {
  position: absolute; left: 0; bottom: 0; right: 0;
  top: 656px; /* 706px - 50px */
  background-image: url("middle-tile.png");
  background-repeat: repeat-y;
}
#header {
  position: absolute; left: 0; top: -50px;/* compensate for top border */
  background: url("top-tile.png") no-repeat;
  width: 900px; height: 765px;
}
#footer {
  position: absolute; left: 0; bottom: -50px; /* compensate for bottom border*/
  width: 950px; height: 190px;
  background: url("bottom-tile.png") no-repeat;
}
#sidebar {
  position: absolute;
  left: 0; top: 0; bottom: 0;
}

#main {
  position: relative; left: 0; top: 0; /* make positioned so it's in z order */
  padding: 47px 105px 10px 102px;
}
.index #main {
  padding-top: 520px;
}
#title {
  position: absolute; left: 130px; top: 5px;
  background: url("agency-title.png") no-repeat;
}
#title, #title a {
  width: 600px; height: 39px;
}
#title a { display: block; }
#label {
  position: absolute; left: 771px; top: 65px;
  font-size: 28px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  padding: 0 3px;
  background: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid black;
}
#label a { color: black; text-decoration: none; }

#notation {
  position: absolute; left: 45px; top: -8px;
  font-family: 'Coustard', 'Alice', serif;
  line-height: 1.0;
  color: #5d2727;
  text-align: left;
  width: 400px;
}
#notation a { margin-right: 1em; }

.index #main .desc {
  position: absolute;
  top: -22px; left: 25px;
  width: 275px;
  background: #fefefe;
  border: 2px solid black;
  padding: 1.5em;
  line-height: 1.75;
  z-index: 99;
}
.index #main .desc .paperclip {
 position: absolute;
 background: url("paperclip.png");
 width: 62px; height: 115px;
 top: -21px; right: 1px;
}
#photo {
  position: absolute;
  top: -40px; left: 150px;
  background: url("photo.png");
  width: 695px; height: 583px;
}
#photo .paperclip {
  position: absolute;
  bottom: 90px; right: 29px;
  width: 80px; height: 86px;
  background: url("paperclip-2.png");
}

/* stylin' */
.index #main { font-family: Coustard, Courier, serif; font-weight: 400; }
.puzzle #main h1, .report #main h1 {
  font-size: 32px; margin: 10px 0 0 0; padding: 0;
}
.puzzle #main h1 {
  background: url("icon.png") no-repeat 0 8px;
  padding-left: 60px;
  min-height: 31px;
}
@media print {
  .puzzle #main h1 {
    /* would be nice to make this printable */
    background: transparent;
    padding-left: 0;
  }
}
.critic, h2, .index .report {
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0 10px 0; padding: 0;
}
.critic .name, .materials, #label {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 400;
}
.critic .name {
  text-decoration: underline;
  white-space: pre; /* allow extra space before/after name */
}
/* could use \0000a0 for nbsp; */
.critic .name:before, .critic .name:after { content: "  "; }
a { text-decoration: none; }
.show > a {
  width: 60px; height: 60px;
  background: url("actor-60.png");
  display: inline-block;
}
.materials { width: 100%;  font-size: 24px; text-decoration: none; }
.materials td {
  vertical-align: middle;
  height: 62px;
  padding-left: 45px;
  padding-right: 20px;
}
.materials td a {
  border-bottom: 1px solid black;
  display: block;
  padding-left: 0.6em;
}
.materials td a > span { position: relative; top: 1ex; }
.materials td.a_circus_line {
  background: url("../a_circus_line/icon.png") no-repeat;
}
.materials td.betsy_johnson {
  background: url("icon.png") no-repeat 0px 20px;
}
.materials tr.spacer { height: 1em; }
.materials { margin-top: -10px; margin-bottom: 20px; }
.show { margin: 10px 0; }

@media print {
  body { background: white; }
  #header, #middle, #footer, #sidebar, #label, #title, #notation {
    display: none;
  }
  #folder {
    position: relative;
    width: 100%;
    border: none;
    background: transparent;
  }
  #main {
    padding: 0 0 0 0;
  }
  img {
    page-break-inside: avoid;
  }
  .index #main {
    padding-top: 0;
  }
  .index #main .desc {
    position: relative;
    left: 0; top: 0;
  }
  .index #main .paperclip {
    display: none;
  }
  .index #photo {
    display: none; /* XXX make photo printable? XXX */
  }
}
