.blank {
  border-bottom: 1px solid black;
  color: transparent;
  position: relative;
  bottom: 4px;
}
#po td ol {
  margin: 0;
}

#po th {
  text-align: left;
  padding-left: 2.5em;
}
