p.t {
  white-space: nowrap;
  margin: 0.75em 0;
}
p.spacer {
  padding: 1.5em 0;
}
.ticket {
  display: inline-block;
  position: relative;
  font: 'Alice', serif;
  height: 135px;
}
.ticket.left {
  width: 200px;
  margin-right: -20px;
}
.ticket.left img {
  position: absolute;
}

.ticket.left { z-index: 3; }
.ticket.left + .ticket.left { z-index: 2; }
.ticket.left + .ticket.left + .ticket.left { z-index: 1; }

.ticket .name {
  position: absolute;
  font-size: 25px;
  display: block;
}
.ticket.left .name {
  top: 3px; bottom: 8px;
  left: 44px; right: 24px;
  text-align: right;
  white-space: nowrap;
  line-height: 124px;
}
.ticket .seat {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 2px;
}
.ticket.left .seat {
  top: 7px; bottom: 3px;
  left: 2px;  width: 44px;
}
.ticket .rh, .ticket .r,
.ticket .sh, .ticket .s {
  display: block;
}
.ticket .rh, .ticket .sh {
  font-weight: bold;
}
.ticket .rh {
  padding-top: 10px;
}
.ticket.right .rh {
  padding-top: 15px;
}
.ticket.left .name {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.ticket.left .seat {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.ticket.right .seat {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}

.ticket.right {
  background: url('ticket-right-c.png') repeat-x;
  width: 440px;
  margin-left: 60px;
}
.ticket.right .back { display: none; }
.ticket.right .edge {
  display: block;
  position: absolute;
  left: -60px; width: 60px;
  top: 0; bottom: 0;
}
.ticket.right .name {
  top: 4px; bottom: 4px;
  left: -35px; right: 40px;
  text-align: left;
  white-space: nowrap;
  line-height: 127px;
  z-index: 99;
}
.ticket.right .seat {
  right: -8px;
  width: 44px;
  padding-right: 3px;
  padding-left: 18px; /* padding-left + width + padding-right =  65px */
  top: 0; bottom: 0;
}
.ticket.right .seat img {
  position: absolute;
  top: 0; right: 0;
}
.ticket.right,
.ticket.right .seat .rh,
.ticket.right .seat .r,
.ticket.right .seat .sh,
.ticket.right .seat .s {
  /* put in z-order */
  position: relative;
}
@media print {
.ticket.right { background: none; }
.ticket.right img.back {
  display: block;
  position: absolute;
  top: 0;
  left: 0; right: 0;
}
}
