@import url(http://fonts.googleapis.com/css?family=Abril+Fatface|Alice&subset=latin,latin-ext);

/* General formatting */
html { min-height: 100%; }
body { padding: 0; margin: 0; height: 100%; position: relative; }
body { background: url("paper.jpg"); }
body { font-family: 'Alice', serif;  font-weight: 400;
       font-size: 16px; line-height: 1.4; }
h1,#puzzle-list { font-family: 'Abril Fatface'; font-weight: 400; }
h1 { font-size: 36px; }
#puzzle-list { font-size: 24px; }
#puzzle-list a { text-decoration: none; }

#top-border {
 position: absolute; top: 0; left: 0; width:100%;
 background-position: center top;
 background-repeat: repeat-x;
}
#side-border div {
 position: absolute;
}
#side-border .left-top, #side-border .left { left: 0; }
#side-border .right-top, #side-border .right { right: 0; }
#bottom-border { position: absolute; left: 50%; }

#top-link { position: absolute; top: 2px; left: 50%; display: block; }
#check-answer, #shortcuts {
  position: fixed; top: 0px;
  display: block;
  padding: 1px 5px;
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid black;
  text-decoration: none;
}
#shortcuts {
  left: 0px;
  border-right: 1px solid black;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  z-index: 99;
  color: blue;
}
#shortcuts .menu { display: none; }
#shortcuts:hover .menu { display: block; }
#shortcuts .menu {
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0 5px 5px 10px;
  border-top: 1px solid black;
}
#check-answer {
  right: 0px;
  border-left: 1px solid black;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
#check-answer:link { color: blue; }

/* Show page formatting */
#index-image {
  margin: 10px auto 20px auto; display: block;
  border: 2px solid #67030f;
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 600px; height: 461px;
  position: relative;
}
#index-image > * {
  position: absolute; top: 0; left: 0;
}
#puzzle-list a {
display: block;
padding: 20px 0 0 50px;
margin: 0 0 2px 0;
background: url('1S-icon.png') no-repeat;
height: 42px; /* 62px minus the padding */
}

/* Puzzle page formatting */
#show-title { position: absolute; left: 50%}
#show-title a { position: absolute; display: block; }

/* Specific size info for 1S images */
body { min-height: 600px; min-width: 700px; }
#top-border {
 height: 81px; background-image: url('1S-top-border-seamless.png');
}
#bottom-border {
 height: 20px; width: 600px; margin-left: -300px;
 background-image: url('1S-bottom.png');
 bottom: 5px;
}
body { padding-bottom: 20px; }
#side-border .left-top, #side-border .right-top { height: 526px; top: 52px;}
#side-border .left-top { width: 108px; background: url('1S-top-left.png'); }
#side-border .right-top { width: 91px; background: url('1S-top-right.png'); }

#side-border .left, #side-border .right { top: 578px; bottom: 0;
                                          background-repeat: repeat-y; }
#side-border .left { width: 39px; background: url('1S-left.png'); }
#side-border .right { width: 34px; background: url('1S-right.png'); }

#top-link {
  width: 350px; margin-left: -175px; /* center it! */
  height: 53px; background: url('top-link-banner.png');
}
#show-title { top: 85px; }
#show-title .title {
  width: 600px; left: -300px; /* centered */
  height: 98px; background: url('1S-puzzle-banner.png');
}
#show-title .critic {
  left: 265px; top: 40px;
  width: 85px; height: 75px; background: url('1C-link.png');
  z-index: 99;
}
.ptitle {
  position: relative; /* put in front of banner */
  height: 87px;
  background: url('1S-divider.png') no-repeat;
  padding: 36px 0 0 58px;
  margin: -25px 0 -20px -19px;
}

#main {
  padding-top: 185px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}
#main.index {
  padding-top: 85px;
}
