.loc-t {
  border-collapse: collapse;
  border: 1px solid black;
}

.loc-t th,
.loc-t td {
  text-align: center;
  padding: 3px 6px;
  border-top: 1px solid black;
}

.loc-t th:first-child,
.loc-t td:first-child,
.loc-t th:first-child + th,
.loc-t td:first-child + td {
  text-align: left;
}
