.cc-p-top {
  margin-bottom: 0;
}

.cc-p-bottom {
  margin-top: 0;
}

.cc-ul {
  margin: 0;
}

#cc-sol-t {
  border-collapse: collapse;
  border: 1px solid black;
}

#cc-sol-t th, #cc-sol-t td {
  text-align: left;
  border-top: 1px solid black;
  padding: 3px 6px;
}

#cc-sol-grid img {
  border: 0;
}
