.mf-marg-top {
  margin-top: 1em;
}

.mf-marg-top-lg {
  margin-top: 2em;
}

.mf-note-div {
  margin-top: 0.5em;
  font-size: 80%;
}

.mf-spaced-list li {
  margin-top: 0.3em;
}

.mf-container-table .mf-open-box .mf-solid-box .mf-spacer-box {
  border-collapse: collapse;
}

.mf-container-table td {
  padding: 10px 2px;
}

.mf-open-box td, .mf-solid-box td, .mf-spacer-box td {
  width: 20px;
  height: 36px;
  margin: 0;
  padding: 0;
}

.mf-open-box td {
  border: 1px solid #888;
}

.mf-solid-box td {
  border: 1px solid #888;
  background-color: #888;
}

.mf-spacer-box td {
  border: 0px solid transparent;
}

@media print {
  .mf-open-box td,
  .mf-solid-box td {
    border-color: black;
  }
  .mf-solid-box td {
    border-width: 11px;
    width: 0px;
    height: 16px;
  }
}
