@import url(http://fonts.googleapis.com/css?family=Fondamento&subset=latin,latin-ext);

.obd td {
  width: 75px;
  height: 75px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
  vertical-align: middle;
}
.obd {
  border-spacing: 4px;
  border-style: hidden;
  border-color: black;
}
.fletter {
  color:#CFB53B;
  font-size:larger
}

td.tip span {    display: none
}
td.tip:hover span {
 position: absolute;
 display: block;
 border: #c00000 1px solid;
 padding-right: 20px;
 padding-left: 5px;
 padding-bottom: 5px;
 padding-top: 5px;
 z-index: 100;
 background: #dbc9a3;
 margin: 10px;
 width: 250px;
 text-decoration: none;
 font-family:'Fondamento';
}

@media print {
  td.tip { vertical-align: top; }
  td.tip span, td.tip span:hover {
    position: relative;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    top: 0; bottom: 0; left: 0; right: 0;
    width: auto;
    font-size: 60%;
  }
  .fletter { color: black; }
}
