.GBSblank {
  border-bottom: 1px solid black;
  color: transparent;
  position: relative;
  bottom: 4px;
}

.clues p {
  margin-top: 0; margin-bottom: 0;
  margin-left: 2.2em;
  text-indent: -2.2em;
}
