.left, .right {
 width: 49%;
 float: left;
}
.right { float: right; }
.bottom { clear: both; }
table.t {
  width: 100%; font-size: 16px;
  padding-bottom: 15px;
  page-break-inside: avoid;
}
table.t td,
table.t th {
  border: 1px solid black;
  text-align: left;
  position: relative;
  vertical-align: top;
  page-break-inside: avoid;
}
/* We put a DIV inside the TH to work around Firefox bug:
   https://bugzilla.mozilla.org/show_bug.cgi?id=217002
   (or something like that bug, anyway). */
table.t th > div {
  padding-left: 25px;
  height: 50px;
  vertical-align: top;
  position: relative; /* FF work around */
}
table.t th > div > span {
  position: absolute;
  left: 0; top: 0; width: 20px;
  text-align: right;
}
table.t tr.b {
  background: green;
}
table.t .b > td,
table.t .c > td,
table.t .d > td,
table.t .e > td {
  text-align: left;
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
}
table.t .b > td + td,
table.t .c > td + td,
table.t .d > td + td,
table.t .e > td + td{
  text-align: right;
  width: 20%;
}
