p.RainbowConnection {
}
p.spacer {
    padding-top: 1em;
}
.RCr,.RCo,.RCy,.RCg,.RCb,.RCi,.RCv {
    width: 0px; height: 8px;
    display: inline-block;
    vertical-align: baseline;
    border: 6px solid black;
    position: relative;
    top: 4px;
}
.RCr {
    border-color: red;
}
.RCo {
    border-color: orange;
}
.RCy {
    border-color: yellow;
}
.RCg {
    border-color: green;
}
.RCb {
    border-color: blue;
}
.RCi {
    border-color: indigo;
}
.RCv {
    border-color: purple;
}
.RCx { white-space: nowrap; }
