---
# use template system
---
{% assign critic_name = 'William S. Bergman' %}{% capture flavor %}
<b>William S. Bergman</b> is the hippest reviewer out there.
{% endcapture %}{% capture art %}
<img src="1-solved.png" />
<img src="2-solved.png" />
<img src="3-solved.png" />
<img src="4-solved.png" />
<img src="5-solved.png" />
<img src="6-solved.png" />
<img src="7-solved.png" />
<img src="8-solved.png" />
<img src="bright_eyes/-solved.png" />
<img src="cheval/-solved.png" />
<img src="daisyjo/-solved.png" />
<img src="gingerbread/-solved.png" />
<img src="honolu_loo/-solved.png" />
<img src="princess_serena/-solved.png" />
<img src="star_catcher/-solved.png" />
<img src="sweetberry/-solved.png" />
<img src="../1px.png" usemap="#map" />
<map name="map">

<area shape="rect" coords="420,235,530,400" alt="Baby Half-Note" title="Baby Half-Note" href="../into_the_woodstock/baby_half_note/" />
<area shape="rect" coords="498,83,622,227" alt="Braeburn" title="Braeburn" href="../into_the_woodstock/braeburn/" />
<area shape="rect" coords="173,275,244,415" alt="Bubbles" title="Bubbles" href="../into_the_woodstock/bubbles/" />
<area shape="rect" coords="405,122,485,172" alt="Daffidazey" title="Daffidazey" href="../into_the_woodstock/daffidazey/" />
<area shape="rect" coords="98,257,159,313" alt="Desert Rose" title="Desert Rose" href="../okla_holmes_a/desert_rose/" />
<area shape="rect" coords="364,78,450,115" alt="Magic Star" title="Magic Star" href="../a_circus_line/magic_star/" />
<area shape="rect" coords="204,435,311,494" alt="Sundance" title="Sundance" href="../into_the_woodstock/sundance/" />
<area shape="rect" coords="157,115,253,248" alt="Sunny Daze" title="Sunny Daze" href="../into_the_woodstock/sunny_daze/" />

<area shape="rect" coords="242,337,315,374" alt="Bright Eyes" title="Bright Eyes" href="bright_eyes/" />
<area shape="rect" coords="564,262,640,371" alt="Cheval" title="Cheval" href="cheval/" />
<area shape="rect" coords="48,323,168,380" alt="Daisyjo" title="Daisyjo" href="daisyjo/" />
<area shape="rect" coords="427,200,498,225" alt="Gingerbread" title="Gingerbread" href="gingerbread/" />
<area shape="rect" coords="526,230,604,267" alt="Honolu-Loo" title="Honolu-Loo" href="honolu_loo/" />
<area shape="rect" coords="144,404,204,454" alt="Princess Serena" title="Princess Serena" href="princess_serena/" />
<area shape="rect" coords="400,433,481,481" alt="Star Catcher" title="Star Catcher" href="star_catcher/" />
<area shape="rect" coords="518,393,581,443" alt="Sweetberry" title="Sweetberry" href="sweetberry/" />

</map>
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr>
          <td class="baby_half_note into_the_woodstock"><a href="../into_the_woodstock/baby_half_note/"><span>Baby Half-Note</span></a></td>
	  <td class="desert_rose okla_holmes_a"><a href="../okla_holmes_a/desert_rose/"><span>Desert Rose</span></a></td>
      </tr><tr>
	  <td class="braeburn into_the_woodstock"><a href="../into_the_woodstock/braeburn/"><span>Braeburn</span></a></td>
          <td class="magic_star a_circus_line"><a href="../a_circus_line/magic_star/"><span>Magic Star</span></a></td>
      </tr><tr>
	  <td class="bubbles into_the_woodstock"><a href="../into_the_woodstock/bubbles/"><span>Bubbles</span></a></td>
          <td class="sundance into_the_woodstock"><a href="../into_the_woodstock/sundance/"><span>Sundance</span></a></td>
      </tr><tr>
	  <td class="daffidazey into_the_woodstock"><a href="../into_the_woodstock/daffidazey/"><span>Daffidazey</span></a></td>
          <td class="sunny_daze into_the_woodstock"><a href="../into_the_woodstock/sunny_daze/"><span>Sunny Daze</span></a></td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
          <td class="bright_eyes william_s_bergman"><a href="bright_eyes/"><span>Bright Eyes</span></a></td>
	  <td class="honolu_loo william_s_bergman"><a href="honolu_loo/"><span>Honolu-Loo</span></a></td>
      </tr><tr>
	  <td class="cheval william_s_bergman"><a href="cheval/"><span>Cheval</span></a></td>
          <td class="princess_serena william_s_bergman"><a href="princess_serena/"><span>Princess Serena</span></a></td>
      </tr><tr>
	  <td class="daisyjo william_s_bergman"><a href="daisyjo/"><span>Daisyjo</span></a></td>
          <td class="star_catcher william_s_bergman"><a href="star_catcher/"><span>Star Catcher</span></a></td>
      </tr><tr>
	  <td class="gingerbread william_s_bergman"><a href="gingerbread/"><span>Gingerbread</span></a></td>
          <td class="sweetberry william_s_bergman"><a href="sweetberry/"><span>Sweetberry</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.william_s_bergman %}{% include critic_index.html %}{% endif %}
