@import "../betsy_johnson/style.css";
#label {
  font-size: 20px; /* compress label a bit */
}
#folder {
  background-image: url("yellow-seamless-swatch.jpg");
}
#footer {
  background-image: url("bottom-tile.png");
}
body.index .materials td.okla_holmes_a {
  background: url("../okla_holmes_a/icon.png") no-repeat 0 6px;
}
body.index .materials td.into_the_woodstock {
  background: url("../into_the_woodstock/icon.png") no-repeat;
}
body.index .materials td.william_s_bergman {
  background: url("icon.png") no-repeat;
}
body.puzzle #main h1 {
  background: url("icon-large.png") no-repeat 0 -20px;
  padding-left: 95px;
  min-height: 50px;
  padding-top: 8px;
  margin-bottom: -15px;
}
@media print {
  body.puzzle #main h1 {
    background: transparent;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0;
    min-height: 0;
  }
}
