<!DOCTYPE HTML>
<html>
{% if site.release.phantom_of_the_operator %}
{% if is_solution and is_show_meta != true %}{% assign top = "../" %}{% endif %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="{{top}}../../favicon.ico" />
<link href='{{top}}../style.css' rel='stylesheet' type='text/css'>
{% if page.style %}
<link href="{{ page.style }}" rel="stylesheet" type="text/css">
{% endif %}
{% if is_solution %}
<style type="text/css">
#check-answer { display: none !important; }
</style>
{% endif %}
<title>{% if is_solution %}Solution: {% endif %}{{ page.title }}</title>
</head>

<body class="{% if page.class %}{{ page.class }}{% else %}puzzle{% endif %}">
<div id="background"><div class="screen"></div></div>
<div id="side-border">
  <div class="left"></div>
  <div class="right"></div>
</div>

<div id="top-border"></div>

<div id="main">
<div id="content">
<h1 class="ptitle"><span class="icon"></span>{{ page.title }}{% if is_solution %} (solution){% endif %}</h1>
{% if is_solution %}<h2 id="credits">{{page.credits}}</h2>{% endif %}

{{ content }}
</div>

</div>
<div id="show-title">
  <a class="title" href="{{top}}../"></a>
  <div id="link"></div>
</div>
<a id="top-link" href="{{top}}../../"></a>
<div id="bottom-border"></div>
{% unless is_solution %}
<script src="-link.js" type="text/javascript"></script>
{% endunless %}
<script type="text/javascript">
this.depth="{{top}}../../";
this.up_title="{% if is_solution and is_show_meta != true %}{{ page.title }}{% else %}Phantom of the Operator{% endif %}";
this.puzzlehash="{{ ponyhash }}";
</script>
<script src="{{top}}../../shortcuts.js" type="text/javascript"></script>
</body>
{% endif %}
</html>
