#revisitinghistory {
	border-spacing: 0;
	border-collapse: collapse;
 }
#revisitinghistory td
{
    padding: 5pt;
    margin: 5pt;
    
    text-align: center;
    vertical-align: top;
    
}

.printbreak {
	page-break-after:always
}