#revisitinghistory { border-spacing: 0; border-collapse: collapse; }
#revisitinghistory td
{
    padding: 10pt;
    margin: 10pt;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    page-break-inside: avoid;
}
#revisitinghistory td img { page-break-inside: avoid; }
#revisitinghistory .pb { page-break-before: always; }
