<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='../style.css' rel='stylesheet' type='text/css'>
<title>{{ page.title }}</title>
</head>

<body>
<div id="side-border">
<div class="left"></div><div class="right"></div>
<div class="left-top"></div><div class="right-top"></div>
</div>
<div id="top-border"></div>
<a id="top-link" href="../../index.html"></a>
<div id="show-title">
  <a class="title" href="../">
  <a class="critic" href="../../betsy_johnson/"></a>
  </a>
</div>
<div id="shortcuts" href="#">Shortcuts
<ul class="menu">
  <li><a href="../../">Home</a></li>
  <li><a href="../../main/intro/">Introduction</a></li>
  <li><a href="#">Contact HQ</a></li>
  <li><a href="#">Events</a></li>
  <li><a href="#">Answer Board</a></li>
  <li><a href="#">Achievements</a></li>
  <li><a href="#">Updates</a></li>
</ul>
</div>
<a id="check-answer" href="check-answer.cgi">Call in answer</a>
<div id="main" class="puzzle">

<h1 class="ptitle">{{ page.title }}</h1>

{{ content }}

<div id="bottom-border"></div>
</div>
</body>
</html>
