---
# use template system
---
{% assign critic_name = 'Sheila Sunshine' %}{% capture flavor %}
When we tried to interview <b>Sheila Sunshine</b>, we found her
wearing a tie-dyed shirt and rainbow-rimmed sunglasses, puffing away on
something we&#8217;re pretty sure the government wouldn&#8217;t approve of.
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr class="n">
	  <td class="num">1.</td>
          <td><a class="okla_holmes_a solved" href="../okla_holmes_a/starsong/">Starsong</a></td>
	  <td class="num">6.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/princess_royal_blue/">Princess Royal Blue</a></td>
      </tr>

      <tr class="n">
          <td class="num">2.</td>
          <td><a class="a_circus_line solved" href="../a_circus_line/truly/">Truly</a></td>
	  <td class="num">7.</td>
	  <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/4_speed/">4-Speed</a></td>
      </tr>

      <tr class="n">
	  <td class="num">3.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/flitter_flutter/">Flitter Flutter</a></td>
	  <td class="num">8.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/twinkle_twirl/">Twinkle Twirl</a></td>
      </tr>

      <tr class="n">
	  <td class="num">4.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/quarterback/">Quarterback</a></td>
	  <td class="num">9.</td>
          <td><a class="a_circus_line solved" href="../a_circus_line/locket/">Locket</a></td>
      </tr>

      <tr class="n">
	  <td class="num">5.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/pipsqueak/">Pipsqueak</a></td>
	  <td class="num">10.</td>
          <td><a class="puzzlemint into_the_woodstock" href="../into_the_woodstock/puzzlemint/">Puzzlemint</a></td>
      </tr>
      </table>

      <table class="materials">
      <tr class="spacer"></tr>
      <tr>
          <td class="baby_tumbleweed sheila_sunshine"><a href="baby_tumbleweed/"><span>Baby Tumbleweed</span></a></td>
	  <td class="north_star sheila_sunshine"><a href="north_star/"><span>North Star</span></a></td>
      </tr><tr>
	  <td class="fiesta_flair sheila_sunshine"><a href="fiesta_flair/"><span>Fiesta Flair</span></a></td>
          <td class="pinkamena_diane_pinkie_pie sheila_sunshine"><a href="pinkamena_diane_pinkie_pie/"><span>Pinkamena Diane &ldquo;Pinkie&rdquo; Pie</span></a></td>
      </tr><tr>
	  <td class="lickity_split sheila_sunshine"><a href="lickity_split/"><span>Lickity-Split</span></a></td>
          <td class="razzaroo sheila_sunshine"><a href="razzaroo/"><span>Razzaroo</span></a></td>
      </tr><tr>
	  <td class="mayor_of_ponyville sheila_sunshine"><a href="mayor_of_ponyville/"><span>Mayor of Ponyville</span></a></td>
          <td class="twist sheila_sunshine"><a href="twist/"><span>Twist</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.sheila_sunshine %}{% include critic_index.html %}{% endif %}
