---
# use template system
---
{% assign critic_name = 'Sheila Sunshine' %}{% capture flavor %}
When we tried to interview <b>Sheila Sunshine</b>, we found her
wearing a tie-dyed shirt and rainbow-rimmed sunglasses, puffing away on
something we&#8217;re pretty sure the government wouldn&#8217;t approve of.
{% endcapture %}{% capture art %}
<img src="1-solved.png" />
<img src="2-solved.png" />
<img src="3-solved.png" />
<img src="4-solved.png" />
<img src="5-solved.png" />
<img src="6-solved.png" />
<img src="7-solved.png" />
<img src="8-solved.png" />
<img src="9-solved.png" />
<img src="10-solved.png" />
<img src="baby_tumbleweed/-solved.png" />
<img src="fiesta_flair/-solved.png" />
<img src="lickity_split/-solved.png" />
<img src="mayor_of_ponyville/-solved.png" />
<img src="north_star/-solved.png" />
<img src="pinkamena_diane_pinkie_pie/-solved.png" />
<img src="razzaroo/-solved.png" />
<img src="twist/-solved.png" />
<img src="../1px.png" usemap="#map" />
<map name="map">
<area shape="rect" coords="133,188,162,225" alt="Starsong" title="Starsong" href="../okla_holmes_a/starsong/"/>
<area shape="rect" coords="120,232,168,287" alt="Flitter Flutter" title="Flitter Flutter" href="../phantom_of_the_operator/flitter_flutter/" />
<area shape="rect" coords="141,290,183,339" alt="Pipsqueak" title="Pipsqueak" href="../into_the_woodstock/pipsqueak/" />
<area shape="rect" coords="169,337,208,379" alt="Princess Royal Blue" title="Princess Royal Blue" href="../phantom_of_the_operator/princess_royal_blue/" />
<area shape="rect" coords="202,353,275,431" alt="Puzzlemint" title="Puzzlemint" href="../into_the_woodstock/puzzlemint/" />
<area shape="rect" coords="277,388,316,430" alt="4-Speed" title="4-Speed" href="../mayan_fair_lady/4_speed/" />
<area shape="rect" coords="340,393,382,439" alt="Twinkle Twirl" title="Twinkle Twirl" href="../mayan_fair_lady/twinkle_twirl/" />
<area shape="rect" coords="397,391,445,437" alt="Locket" title="Locket" href="../a_circus_line/locket/" />
<area shape="rect" coords="445,359,514,436" alt="Truly" title="Truly" href="../a_circus_line/truly/" />
<area shape="rect" coords="510,351,605,445" alt="Quarterback" title="Quarterback" href="../into_the_woodstock/quarterback/" />

<area shape="rect" coords="285,62,435,154" alt="Baby Tumbleweed" title="Baby Tumbleweed" href="baby_tumbleweed/" />
<area shape="rect" coords="349,196,446,282" alt="Fiesta Flair" title="Fiesta Flair" href="fiesta_flair/" />
<area shape="rect" coords="365,290,435,392" alt="Lickity-Split" title="Lickity-Split" href="lickity_split/" />
<area shape="rect" coords="418,117,482,199" alt="Mayor of Ponyville" title="Mayor of Ponyville" href="mayor_of_ponyville/" />
<area shape="rect" coords="443,236,528,338" alt="North Star" title="North Star" href="north_star/" />
<area shape="rect" coords="495,62,569,143" alt='Pinkamena Diane "Pinkie" Pie' title='Pinkamena Diane "Pinkie" Pie' href="pinkamena_diane_pinkie_pie/" />
<area shape="rect" coords="500,162,621,239" alt="Razzaroo" title="Razzaroo" href="razzaroo/" />
<area shape="rect" coords="540,286,641,359" alt="Twist" title="Twist" href="twist/" />

</map>
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr class="n">
	  <td class="num">1.</td>
          <td><a class="okla_holmes_a solved" href="../okla_holmes_a/starsong/">Starsong</a></td>
	  <td class="num">6.</td>
	  <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/4_speed/">4-Speed</a></td>
      </tr>

      <tr class="n">
	  <td class="num">2.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/flitter_flutter/">Flitter Flutter</a></td>
	  <td class="num">7.</td>
          <td><a class="mayan_fair_lady solved" href="../mayan_fair_lady/twinkle_twirl/">Twinkle Twirl</a></td>
      </tr>

      <tr class="n">
	  <td class="num">3.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/pipsqueak/">Pipsqueak</a></td>
	  <td class="num">8.</td>
          <td><a class="a_circus_line solved" href="../a_circus_line/locket/">Locket</a></td>
      </tr>

      <tr class="n">
	  <td class="num">4.</td>
          <td><a class="phantom_of_the_operator solved" href="../phantom_of_the_operator/princess_royal_blue/">Princess Royal Blue</a></td>
          <td class="num">9.</td>
          <td><a class="a_circus_line solved" href="../a_circus_line/truly/">Truly</a></td>
      </tr>

      <tr class="n">
	  <td class="num">5.</td>
          <td><a class="puzzlemint into_the_woodstock" href="../into_the_woodstock/puzzlemint/">Puzzlemint</a></td>
	  <td class="num">10.</td>
          <td><a class="into_the_woodstock solved" href="../into_the_woodstock/quarterback/">Quarterback</a></td>
      </tr>
      </table>

      <table class="materials">
      <tr class="spacer"></tr>
      <tr>
          <td class="baby_tumbleweed sheila_sunshine"><a href="baby_tumbleweed/"><span>Baby Tumbleweed</span></a></td>
	  <td class="north_star sheila_sunshine"><a href="north_star/"><span>North Star</span></a></td>
      </tr><tr>
	  <td class="fiesta_flair sheila_sunshine"><a href="fiesta_flair/"><span>Fiesta Flair</span></a></td>
          <td class="pinkamena_diane_pinkie_pie sheila_sunshine"><a href="pinkamena_diane_pinkie_pie/"><span>Pinkamena Diane &ldquo;Pinkie&rdquo; Pie</span></a></td>
      </tr><tr>
	  <td class="lickity_split sheila_sunshine"><a href="lickity_split/"><span>Lickity-Split</span></a></td>
          <td class="razzaroo sheila_sunshine"><a href="razzaroo/"><span>Razzaroo</span></a></td>
      </tr><tr>
	  <td class="mayor_of_ponyville sheila_sunshine"><a href="mayor_of_ponyville/"><span>Mayor of Ponyville</span></a></td>
          <td class="twist sheila_sunshine"><a href="twist/"><span>Twist</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.sheila_sunshine %}{% include critic_index.html %}{% endif %}
