@import "../betsy_johnson/style.css";
#label {
  font-size: 25px; /* compress label a bit */
}
body.index #main .desc { /* shrink notecard a bit */
  padding: 0.5em 0.5em;
  width: 380px;
}
body.index #main .desc .paperclip {
  right: 3px;
}
#folder {
  background-image: url("multicolor-seamless-swatch.jpg");
}
#footer {
  background-image: url("bottom-tile.png");
}
body.index #main {
  padding-top: 540px; /* move the main body down 20px */
  padding-bottom: 150px; /* make bottom template line up a bit better */
}
body.index #photo .paperclip {
  bottom: 90px; right: 10px; /* move paperclip out a bit */
}
body.index .materials .n .num {
  width: 85px;
  text-align: right;
  padding-right: 10px;
  font-family: Coustard, Courier, serif;
  font-size: 80%;
}
body.index .materials .n td { padding: 0; vertical-align: bottom; width: auto; }
body.index .materials .n a {
  display: block;
  /* a little bit of space on right */
  padding-right: 5px;
  /* overlap on top of .num field and put icon there. */
  margin-left: -90px; padding-left: 90px;
  background-repeat: no-repeat;
  padding-top: 34px;
  height: 28px; /* subtract padding-top from 62px height */
  white-space: nowrap;
}
body.index .materials .a_circus_line {
  background: url("../a_circus_line/icon.png") no-repeat;
}
body.index .materials .a_circus_line.unsolved {
  background-image: url("../a_circus_line/icon-unsolved.png");
}
body.index .materials .okla_holmes_a {
  background: url("../okla_holmes_a/icon.png") no-repeat 0 10px;
}
body.index .materials .okla_holmes_a.unsolved {
  background-image: url("../okla_holmes_a/icon-unsolved.png");
}
body.index .materials .into_the_woodstock {
  background: url("../into_the_woodstock/icon.png") no-repeat 0px 7px;
}
body.index .materials .into_the_woodstock.unsolved {
  background-image: url("../into_the_woodstock/icon-unsolved.png");
}
body.index .materials .mayan_fair_lady {
  background: url("../mayan_fair_lady/icon.png") no-repeat 0px 26px;
}
body.index .materials .mayan_fair_lady.unsolved {
  background-image: url("../mayan_fair_lady/icon-unsolved.png");
}
body.index .materials .phantom_of_the_operator {
  background: url("../phantom_of_the_operator/icon.png") no-repeat 5px 14px;
}
body.index .materials .phantom_of_the_operator.unsolved {
  background-image: url("../phantom_of_the_operator/icon-unsolved.png");
}
body.index .materials .sheila_sunshine {
  background: url("icon.png") no-repeat 0 18px;
}
body.index .materials .sheila_sunshine.unsolved {
  background-image: url("icon-unsolved.png");
}
body.puzzle #main h1 {
  background: url("icon-large.png") no-repeat 0 -25px;
  padding-left: 80px;
  min-height: 42px;
  padding-top: 8px;
  margin-left: -20px;
}
