@import "me/mediaelementplayer.css";

.MiddleSeeouter {
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}
.MiddleSeeinner {
    border-collapse: collapse;
}
.MiddleSeecell {
    height: 250px;
    width: 250px;
    border: 1px solid;
    text-align: center;
}
.mejs-container { margin: 0 auto; }

@media print {
  .mejs-layers, .mejs-controls, .mejs-clear { display: none; }
}
