---
# use template system
---
{% assign critic_name = 'Charles L. Dodgson' %}{% assign critic_fullname = 'Charles Lutwidge Dodgson' %}{% capture flavor %}
Originally from England, this theatre critic and games columnist writes under
the pen name <b>Charles Dodgson</b>.
{% endcapture %}{% capture materials %}
    <table class="materials">
      <tr>
          <td class="baby_quackers charles_lutwidge_dodgson"><a href="baby_quackers/"><span>Baby Quackers</span></a></td>
          <td class="baby_sniffles okla_holmes_a"><a href="../okla_holmes_a/baby_sniffles/"><span>Baby Sniffles</span></a></td>
      </tr>
      <tr>
          <td class="cheerilee a_circus_line"><a href="../a_circus_line/cheerilee/"><span>Cheerilee</span></a></td>
          <td class="firefly charles_lutwidge_dodgson"><a href="firefly/"><span>Firefly</span></a></td>
      </tr>
      <tr>
          <td class="fizzy_pop charles_lutwidge_dodgson"><a href="fizzy_pop/"><span>Fizzy Pop</span></a></td>
          <td class="medley charles_lutwidge_dodgson"><a href="medley/"><span>Medley</span></a></td>
      </tr>
      <tr>
          <td class="melody okla_holmes_a"><a href="../okla_holmes_a/melody/"><span>Melody</span></a></td>
          <td class="sapphire_shores charles_lutwidge_dodgson"><a href="sapphire_shores/"><span>Sapphire Shores</span></a></td>
      </tr>
      <tr>
          <td class="shady charles_lutwidge_dodgson"><a href="shady/"><span>Shady</span></a></td>
          <td class="skydancer a_circus_line"><a href="../a_circus_line/skydancer/"><span>Skydancer</span></a></td>
      </tr>
      <tr>
          <td class="tex charles_lutwidge_dodgson"><a href="tex/"><span>Tex</span></a></td>
          <td class="toola_roola charles_lutwidge_dodgson"><a href="toola_roola/"><span>Toola-Roola</span></a></td>
      </tr>
    </table>
{% endcapture %}{% if site.release.charles_lutwidge_dodgson %}{% include critic_index.html %}{% endif %}
