@import "../betsy_johnson/style.css";
#label {
  font-size: 20px; /* compress label a bit */
}
#main.index .desc { /* shrink notecard a bit */
  padding: 0.5em 1.5em;
}
#photo .paperclip { /* move paperclip up */
  bottom: 290px; right: 34px;
}
#folder {
  background-image: url("orange-seamless-swatch.png");
}
#footer {
  background-image: url("bottom-tile.png");
}
#photo {
  background: url("photo.png");
  /* width, height, etc? */
}
#main {
  /* add nice left side border */
  background: url('left-side-border.png')repeat-y 50px 0px;
  padding-left: 120px;
}
.materials td.okla_holmes_a {
  background: url("../okla_holmes_a/icon.png") no-repeat 0 6px;
}
.materials td.charles_lutwidge_dodgson {
  background: url("icon.png") no-repeat;
}
#main.puzzle h1 {
  background: url("icon.png") no-repeat 0 0;
  padding-left: 45px;
  min-height: 62px;
}
