---
# ensure that we use the templating engine for this file
---
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<link href="style.css" rel="stylesheet" type="text/css">
<title>Borbonicus &amp; Bodley</title>
</head>

<body>
<div id="main">
  <div id="art">
<img src="mainpage.jpg" />
{% capture index_art %}
{% if site.release.a_circus_line %}
<img src="a_circus_line/mainpage-overlay.png" />
{% endif %}
{% if site.release.betsy_johnson %}
<img src="betsy_johnson/mainpage-overlay.png" />
{% endif %}
{% if site.release.okla_holmes_a %}
<img src="okla_holmes_a/mainpage-overlay.png" />
{% endif %}
{% if site.release.charles_lutwidge_dodgson %}
<img src="charles_lutwidge_dodgson/mainpage-overlay.png" />
{% endif %}
{% if site.release.into_the_woodstock %}
<img src="into_the_woodstock/mainpage-overlay.png" />
{% endif %}
{% if site.release.william_s_bergman %}
<img src="william_s_bergman/mainpage-overlay.png" />
{% endif %}
{% if site.release.mayan_fair_lady %}
<img src="mayan_fair_lady/mainpage-overlay.png" />
{% endif %}
{% if site.release.ben_bitdiddle %}
<img src="ben_bitdiddle/mainpage-overlay.png" />
{% endif %}
{% if site.release.phantom_of_the_operator %}
<img src="phantom_of_the_operator/mainpage-overlay.png" />
{% endif %}
{% if site.release.sheila_sunshine %}
<img src="sheila_sunshine/mainpage-overlay.png" />
{% endif %}
{% if site.release.ogre_of_la_mancha %}
<img src="ogre_of_la_mancha/mainpage-overlay.png" />
{% endif %}
{% if site.release.watson_2_0 %}
<img src="watson_2_0/mainpage-overlay.png" />
{% endif %}
{% endcapture %}
{{ index_art | strip_newlines }}
<img src="1px.png" usemap="#map" />
{% capture index_map %}
<map name="map">
<area shape="poly" coords="140,49,155,97,332,58,429,54,552,59,712,93,728,45,507,1,323,3" alt="Borbonicus &amp; Bodley" />
{% if site.release.a_circus_line %}
<area shape="rect" coords="352,156,604,285" alt="A Circus Line" href="a_circus_line/" />
{% endif %}
{% if site.release.okla_holmes_a %}
<area shape="rect" coords="57,184,336,286" alt="Okla-Holmes-a!" href="okla_holmes_a/" />
{% endif %}
{% if site.release.into_the_woodstock %}
<area shape="rect" coords="597,352,853,466" alt="Into the Woodstock" href="into_the_woodstock/" />
{% endif %}
{% if site.release.mayan_fair_lady %}
<area shape="rect" coords="235,90,549,159" alt="Mayan Fair Lady" href="mayan_fair_lady/" />
{% endif %}
{% if site.release.phantom_of_the_operator %}
<area shape="rect" coords="59,292,262,477" alt="Phantom of the Operator" href="phantom_of_the_operator/" />
{% endif %}
{% if site.release.ogre_of_la_mancha %}
<area shape="rect" coords="617,148,815,324" alt="Ogre of la Mancha" href="ogre_of_la_mancha/" />
{% endif %}
{% if site.release.betsy_johnson %}
<area shape="rect" coords="572,533,681,647" alt="Betsy Johnson" title="Betsy Johnson" href="betsy_johnson/" />
{% endif %}
{% if site.release.charles_lutwidge_dodgson %}
<area shape="poly" coords="300,644,322,549,382,542,380,580,376,595,411,611,413,645" alt="Charles Lutwidge Dodgson" title="Charles Lutwidge Dodgson" href="charles_lutwidge_dodgson" />
{% endif %}
{% if site.release.william_s_bergman %}
<area shape="rect" coords="381,502,488,596" alt="William S. Bergman" title="William S. Bergman" href="william_s_bergman/" />
{% endif %}
{% if site.release.ben_bitdiddle %}
<area shape="rect" coords="755,485,866,583" alt="Ben Bitdiddle" title="Ben Bitdiddle" href="ben_bitdiddle/" />
{% endif %}
{% if site.release.sheila_sunshine %}
<area shape="poly" coords="56,655,74,559,136,559,135,613,162,626,162,656" alt="Sheila Sunshine" title="Sheila Sunshine" href="sheila_sunshine/" />
{% endif %}
{% if site.release.watson_2_0 %}
<area shape="rect" coords="140,498,248,604" alt="Watson 2.0" title="Watson 2.0" href="watson_2_0/" />
{% endif %}
</map>
{% endcapture %}
{{ index_map | strip_newlines }}
</div><!-- #art -->

{% capture index_table %}
<table align="center" id="index-table">

<tr><th><h2>Shows</h2></th>
{% if site.release.betsy_johnson %}
<th><h2>Critics</h2></th>
{% endif %}
</tr>

{% if site.release.a_circus_line or site.release.betsy_johnson %}
<tr><td><a href="a_circus_line/">A Circus Line</a></td>
{% if site.release.betsy_johnson %}
<td><a href="betsy_johnson/">Betsy Johnson</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.okla_holmes_a or site.release.charles_lutwidge_dodgson %}
<tr><td><a href="okla_holmes_a/">Okla-Holmes-a!</a></td>
{% if site.release.charles_lutwidge_dodgson %}
<td><a href="charles_lutwidge_dodgson/">Charles Lutwidge Dodgson</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.into_the_woodstock or site.release.william_s_bergman %}
<tr><td><a href="into_the_woodstock/">Into the Woodstock</a></td>
{% if site.release.william_s_bergman %}
<td><a href="william_s_bergman/">William S. Bergman</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.mayan_fair_lady or site.release.ben_bitdiddle %}
<tr><td><a href="mayan_fair_lady/">Mayan Fair Lady</a></td>
{% if site.release.ben_bitdiddle %}
<td><a href="ben_bitdiddle/">Ben Bitdiddle</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.phantom_of_the_operator or site.release.sheila_sunshine %}
<tr><td><a href="phantom_of_the_operator/">Phantom of the Operator</a></td>
{% if site.release.sheila_sunshine %}
<td><a href="sheila_sunshine/">Sheila Sunshine</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.ogre_of_la_mancha or site.release.watson_2_0 %}
<tr><td><a href="ogre_of_la_mancha/">Ogre of La Mancha</a></td>
{% if site.release.watson_2_0 %}
<td><a href="watson_2_0/">Watson 2.0</a></td>
{% endif %}
</tr>
{% endif %}

</table>
{% endcapture %}
{{ index_table | strip_newlines }}

{% if site.release.letters %}
<h2>Letters from Max and Leo</h2>
<p>blah blah blah</p>
{% endif %}

{% if site.release.endgame %}
<h2>Endgame</h2>
<p>blah blah blah</p>
{% endif %}

</div>
<div id="footer"></div>
<script type="text/javascript">this.depth="";</script>
<script src="shortcuts.js" type="text/javascript"></script>
</body> </html>
