---
# ensure that we use the templating engine for this file
---
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<link href="style.css" rel="stylesheet" type="text/css">
<title>Borbonicus &amp; Bodley</title>
</head>

<body>
<div id="main">
  <div id="art">
<img src="mainpage.jpg" border=0 />
{% capture index_art %}
{% if site.release.a_circus_line %}
<img src="a_circus_line/mainpage-overlay.png" />
{% endif %}
{% if site.release.okla_holmes_a %}
<img src="okla_holmes_a/mainpage-overlay.png" />
{% endif %}
{% if site.release.into_the_woodstock %}
<img src="into_the_woodstock/mainpage-overlay.png" />
{% endif %}
{% if site.release.mayan_fair_lady %}
<img src="mayan_fair_lady/mainpage-overlay.png" />
{% endif %}
{% if site.release.phantom_of_the_operator %}
<img src="phantom_of_the_operator/mainpage-overlay.png" />
{% endif %}
{% if site.release.ogre_of_la_mancha %}
<img src="ogre_of_la_mancha/mainpage-overlay.png" />
{% endif %}
{% endcapture %}
{{ index_art | strip_newlines }}
</div><!-- #art -->

{% capture index_table %}
<table align="center" id="index-table">

<tr><th><h2>Shows</h2></th>
{% if site.release.betsy_johnson %}
<th><h2>Critics</h2></th>
{% endif %}
</tr>

{% if site.release.a_circus_line or site.release.betsy_johnson %}
<tr><td><a href="a_circus_line/">A Circus Line</a></td>
{% if site.release.betsy_johnson %}
<td><a href="betsy_johnson/">Betsy Johnson</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.okla_holmes_a or site.release.charles_lutwidge_dodgson %}
<tr><td><a href="okla_holmes_a/">Okla-Holmes-a!</a></td>
{% if site.release.charles_lutwidge_dodgson %}
<td><a href="charles_lutwidge_dodgson/">Charles Lutwidge Dodgson</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.into_the_woodstock or site.release.william_s_bergman %}
<tr><td><a href="into_the_woodstock/">Into the Woodstock</a></td>
{% if site.release.william_s_bergman %}
<td><a href="william_s_bergman/">William S. Bergman</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.mayan_fair_lady or site.release.ben_bitdiddle %}
<tr><td><a href="mayan_fair_lady/">Mayan Fair Lady</a></td>
{% if site.release.ben_bitdiddle %}
<td><a href="ben_bitdiddle/">Ben Bitdiddle</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.phantom_of_the_operator or site.release.sheila_sunshine %}
<tr><td><a href="phantom_of_the_operator/">Phantom of the Operator</a></td>
{% if site.release.sheila_sunshine %}
<td><a href="sheila_sunshine/">Sheila Sunshine</a></td>
{% endif %}
</tr>
{% endif %}

{% if site.release.ogre_of_la_mancha or site.release.watson %}
<tr><td><a href="ogre_of_la_mancha/">Ogre of La Mancha</a></td>
{% if site.release.watson %}
<td><a href="watson/">Watson</a></td>
{% endif %}
</tr>
{% endif %}

</table>
{% endcapture %}
{{ index_table | strip_newlines }}

{% if site.release.letters %}
<h2>Letters from Max and Leo</h2>
<p>blah blah blah</p>
{% endif %}

{% if site.release.endgame %}
<h2>Endgame</h2>
<p>blah blah blah</p>
{% endif %}

</div>
<div id="footer"></div>
<script type="text/javascript">this.depth="";</script>
<script src="shortcuts.js" type="text/javascript"></script>
</body> </html>
