@import url(http://fonts.googleapis.com/css?family=Abril+Fatface|Alice&subset=latin,latin-ext);
@import "shortcuts.css";

body {
  background: black; /* was: #200; */
  color: white; position: relative;
  padding: 0; margin: 0; text-align: center;
  font-family: 'Alice', serif; font-weight: 400;
 }
body, #main { height: 100%; }
#main { background: black; width: 900px; margin: 0px auto; }
#art, #art img { width: 900px; height: 679px; }
#art { position: relative; }
#art img { position: absolute; left: 0; top: 0; border: none; }
#index-table, body>div>p { font-size: 24px; }
#index-table { width: 80%; }
#footer {
  position: absolute;
  width: 800px; height: 12px;
  bottom: 10px;
  left: 50%;
  margin-left: -400px; /* center */
  background: url('mainpage-divider.png') no-repeat;
}
#main { padding-bottom: 30px; }

h2 {
  font-family: 'Abril Fatface', 'Alice', serif; font-weight: 400;
  font-size: 32px;
}
a { text-decoration:none }

#check-answer { display: none !important; }
